@page "/people/create"
@inject HttpClient http
@inject NavigationManager nav


<h3>Create New Person</h3>

<EditForm Model="@person" OnValidSubmit="@CreatePerson">
    <DataAnnotationsValidator />
    <div class="form-field" >
        <label>Name:</label>
        <div>
            <InputText @bind-Value="@person.Name" />
            <ValidationMessage For="@(() => person.Name)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success" >
        Create Person
    </button>
</EditForm>
@if (null == null)
{
    <text>Loading...</text>
}


@code {
    Person person = new Person();
    async Task CreatePerson()
    {
        await http.PostAsJsonAsync("api/people", person);
        nav.NavigateTo("people");
    }
}
