@page "/people/create"
@inject HttpClient http
@inject NavigationManager nav


<h3>Create New Person</h3>

<PersonForm ButtonText="Create Person" person="@person" OnValidSubmit="@CreatePerson" />

@if (null == null)
{
    <text>Loading...</text>
}


@code {
    Person person = new Person();
    async Task CreatePerson()
    {
        await http.PostAsJsonAsync("api/people", person);
        nav.NavigateTo("people");
    }
}
